.menu-frame {
  background: #122c4b;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  .menu-items {
    .menu-item {
      display: inline-block;
      list-style-type: none;
    }
  }
}
