@charset "utf-8";
/* line 1, sass/_menuFrame.sass */
menuFrame {
  background: #122c4b;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
/* line 9, sass/_menuFrame.sass */
menuFrame navList navItem {
  display: inline;
  list-style-type: none;
}
